@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple-50: oklch(0.975 0.035 315.5);
  --color-purple-100: oklch(0.945 0.040 315.5);
  --color-purple-200: oklch(0.880 0.060 315.5);
  --color-purple-300: oklch(0.800 0.080 315.5);
  --color-purple-400: oklch(0.700 0.100 315.5);
  --color-purple-500: oklch(0.580 0.120 315.5); /* #8D28AD */
  --color-purple-600: oklch(0.480 0.110 315.5);
  --color-purple-700: oklch(0.380 0.100 315.5);
  --color-purple-800: oklch(0.290 0.090 315.5);
  --color-purple-900: oklch(0.210 0.080 315.5);
  --color-purple-950: oklch(0.130 0.070 315.5);
}